<table class="table table-striped">
  <tr>
  <th>ID</th>
  <th>Counter</th>
  <th>Trendwort</th>
  </tr>
    <% @trends.each do |trend| %>
    <tr>
    <td> <%= trend.id %> </td> 
    <td> <%= trend.counter %> </td> 
    <td> <%= trend.trendy_word %>
    <td><%= link_to 'Show', '#', :class =>"btn btn-mini" %></td>
</tr>
<% end %>
</table>
