<!DOCTYPE html>
<html>
<head>
  <title>RssTrends</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">
    <ul class="nav">
    <a class="brand" href="#">
    RssTrends
    </a>
        <li><a href="/trends">Trendwörter</a></li>
        <li><a href="/feed_entries">Feeds</a></li>
        <li><a href="/feed_entries/new">Update</a></li>
    </ul>
    </div>
    </div>
    </div>
<body>
    <div class ="container">
        <div class="row">
        <div class= "span9"></div>
            <%= yield %>
        </div>		
    </div>
</body>
</html>
